name: Test Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  test-pr:
    name: Test pull request
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.20'

    - name: Install dependencies
      run: go mod download

    - name: Run tests
      run: make test
